:root{
    ---cor-de-fundo: #000000;
    ---branco: #FFFFFF;
    ---cinza: #121212;
	---cabecalho: linear-gradient(to right, #5eda4e, #EBA35C);
    ---fonte-principal:  "Oswald", sans-serif ;
    ---azul: #0b1e2d;
}




body
{ background: var(---cor-de-fundo);
	width: 100vw;
    color: var(---branco);
}
